作業
請使用 application_train.csv, 根據不同的 HOUSETYPE_MODE 對 AMT_CREDIT 繪製 Histogram
[作業目標]

    試著調整資料, 並利用提供的程式繪製分布圖

[作業重點]

    如何將列出相異的 HOUSETYPE_MODE 類別 (In[3])
    如何依照不同的 HOUSETYPE_MODE 類別指定資料, 並繪製長條圖(.hist())? (In[3])

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 另一個繪圖-樣式套件

# 忽略警告訊息
%matplotlib inline
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')

# 設定 data_path
dir_data = './data/Part01/'

In [2]:
# 讀取檔案
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/Part01/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# 資料分群後排序
app_train['HOUSETYPE_MODE'].dropna().unique()

array(['block of flats', 'terraced house', 'specific housing'],
      dtype=object)

In [13]:
print(app_train.loc[(app_train['HOUSETYPE_MODE'] == unique_house_type[i])])

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
349         100402       0         Cash loans           F            N
435         100502       0         Cash loans           F            Y
453         100523       0         Cash loans           M            Y
814         100932       0         Cash loans           F            N
1425        101673       0         Cash loans           M            N
1440        101693       0         Cash loans           F            N
2021        102368       0         Cash loans           F            N
2094        102461       0         Cash loans           F            Y
2216        102600       0         Cash loans           F            N
2404        102809       1         Cash loans           F            N
2501        102917       0    Revolving loans           F            N
2947        103438       1         Cash loans           F            Y
3159        103694       0         Cash loans           F            Y
3565        104166       0         Cash loans           F            Y
3663        104271       0         Cash loans           F            N
3917        104577       0         Cash loans           F            N
3923        104585       0         Cash loans           F            N
4269        104994       0         Cash loans           F            N
4372        105113       1         Cash loans           F            N
4437        105186       0         Cash loans           F            N
4448        105200       1         Cash loans           M            Y
5126        105990       0         Cash loans           F            N
6176        107211       1         Cash loans           M            Y
6337        107393       0         Cash loans           F            N
6357        107420       0         Cash loans           M            Y
6433        107502       1         Cash loans           F            N
6447        107516       0         Cash loans           F            N
6656        107767       0         Cash loans           F            N
7146        108317       0         Cash loans           F            N
7445        108679       0         Cash loans           F            N
...            ...     ...                ...         ...          ...
301867      449720       0         Cash loans           M            N
302074      449969       0         Cash loans           F            N
302380      450327       0         Cash loans           M            Y
302525      450494       0    Revolving loans           M            N
302588      450570       0         Cash loans           F            N
303208      451293       0         Cash loans           M            Y
303332      451441       0         Cash loans           F            N
303397      451514       0    Revolving loans           F            N
303441      451563       0         Cash loans           F            N
303504      451639       0         Cash loans           F            N
303575      451728       0    Revolving loans           F            Y
303813      452001       1         Cash loans           F            N
303836      452026       1    Revolving loans           F            N
303988      452204       0         Cash loans           F            N
304357      452623       0         Cash loans           M            Y
304379      452647       0         Cash loans           F            Y
304467      452752       0         Cash loans           F            N
304835      453178       1         Cash loans           M            Y
305213      453617       0         Cash loans           F            Y
305453      453891       0         Cash loans           M            Y
305592      454056       0         Cash loans           M            Y
305667      454143       0         Cash loans           F            N
305892      454413       0    Revolving loans           F            N
306328      454914       0         Cash loans           F            N
306517      455127       1         Cash loans           F            N
306639      455273       0         Cash loans           F            N
306917      455588       0         Cash loans           F            N
306934      455605       0         Cash loans           F            Y
307141      455838       0         Cash loans           F            N
307242      455951       0         Cash loans           M            Y

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
349                  Y             0           81000.0    276277.5
435                  Y             0          202500.0    485640.0
453                  Y             0          225000.0   1096020.0
814                  Y             0          202500.0    675000.0
1425                 Y             0          112500.0    252000.0
1440                 Y             0           90000.0    450000.0
2021                 Y             1          126000.0    301464.0
2094                 N             1          157500.0    592560.0
2216                 Y             0          315000.0    773680.5
2404                 Y             1          112500.0    648000.0
2501                 Y             0          157500.0    157500.0
2947                 N             1          135000.0   1078200.0
3159                 Y             1          247500.0   1096020.0
3565                 Y             1          225000.0    733315.5
3663                 N             0           90000.0    310500.0
3917                 Y             0          144000.0    270000.0
3923                 N             0          171000.0    528633.0
4269                 N             0          292500.0    517536.0
4372                 Y             0          252000.0    906660.0
4437                 Y             0          382500.0    900000.0
4448                 N             2          157500.0    732834.0
5126                 Y             0          112500.0    548775.0
6176                 Y             0          121500.0    283500.0
6337                 Y             0          261000.0    454500.0
6357                 Y             2          261000.0   1061599.5
6433                 N             1           81000.0    233784.0
6447                 Y             0          112500.0    472500.0
6656                 Y             0          135000.0    284400.0
7146                 Y             2          162000.0   1125000.0
7445                 N             2           90000.0    135000.0
...                ...           ...               ...         ...
301867               N             0          202500.0    258709.5
302074               Y             0           67500.0    460858.5
302380               Y             0          315000.0    314100.0
302525               Y             1          135000.0    180000.0
302588               Y             1           81000.0    326439.0
303208               Y             0          180000.0    896157.0
303332               Y             1          153000.0    348264.0
303397               Y             0          103500.0    315000.0
303441               Y             0          135000.0    259794.0
303504               Y             0          180000.0    627277.5
303575               Y             0          112500.0    337500.0
303813               Y             2          225000.0    539100.0
303836               Y             0           58500.0    180000.0
303988               N             0          225000.0    835380.0
304357               Y             1          225000.0    594081.0
304379               N             0          135000.0    450000.0
304467               Y             0          108000.0    355536.0
304835               Y             1          225000.0    220500.0
305213               Y             0          202500.0   1214581.5
305453               Y             0          301500.0   1288350.0
305592               Y             1           81000.0    585000.0
305667               Y             0          234000.0    662733.0
305892               Y             0          103500.0    157500.0
306328               Y             0           90000.0    105534.0
306517               N             0          112500.0    312768.0
306639               N             0          180000.0    414229.5
306917               N             0          144000.0    922666.5
306934               N             0          225000.0    675000.0
307141               Y             0           67500.0    225000.0
307242               N             2          247500.0   1125000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
349         21825.0  ...                 0                0                0
435         41674.5  ...                 0                0                0
453         52857.0  ...                 0                0                0
814         20668.5  ...                 0                0                0
1425        13324.5  ...                 0                0                0
1440        19197.0  ...                 0                0                0
2021        22068.0  ...                 0                0                0
2094        31153.5  ...                 0                0                0
2216        34209.0  ...                 0                0                0
2404        19714.5  ...                 0                0                0
2501         7875.0  ...                 0                0                0
2947        34911.0  ...                 0                0                0
3159        56092.5  ...                 0                0                0
3565        39199.5  ...                 0                0                0
3663        15903.0  ...                 0                0                0
3917        23301.0  ...                 0                0                0
3923        22527.0  ...                 0                0                0
4269        28206.0  ...                 0                0                0
4372        36531.0  ...                 0                0                0
4437        31887.0  ...                 0                0                0
4448        46962.0  ...                 0                0                0
5126        36670.5  ...                 0                0                0
6176        13765.5  ...                 0                0                0
6337        30946.5  ...                 0                0                0
6357        34375.5  ...                 0                0                0
6433        11029.5  ...                 0                0                0
6447        15745.5  ...                 0                0                0
6656        16011.0  ...                 0                0                0
7146        47664.0  ...                 0                0                0
7445         8626.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
301867      25717.5  ...                 0                0                0
302074      21613.5  ...                 0                0                0
302380      16573.5  ...                 0                0                0
302525       9000.0  ...                 0                0                0
302588      15345.0  ...                 0                0                0
303208      35671.5  ...                 0                0                0
303332      23404.5  ...                 0                0                0
303397      15750.0  ...                 0                0                0
303441      30960.0  ...                 0                0                0
303504      23778.0  ...                 0                0                0
303575      16875.0  ...                 0                0                0
303813      27652.5  ...                 0                0                0
303836       9000.0  ...                 0                0                0
303988      35523.0  ...                 0                0                0
304357      25168.5  ...                 0                0                0
304379      20979.0  ...                 0                0                0
304467      19417.5  ...                 0                0                0
304835      17806.5  ...                 0                0                0
305213      43758.0  ...                 0                0                0
305453      37800.0  ...                 0                0                0
305592      22666.5  ...                 0                0                0
305667      32013.0  ...                 0                0                0
305892       7875.0  ...                 0                0                0
306328      10435.5  ...                 0                0                0
306517      19003.5  ...                 0                0                0
306639      23260.5  ...                 0                0                0
306917      54076.5  ...                 0                0                0
306934      69295.5  ...                 0                0                0
307141      12694.5  ...                 0                0                0
307242      50314.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
349                   0                        NaN                       NaN
435                   0                        0.0                       0.0
453                   0                        0.0                       0.0
814                   0                        0.0                       0.0
1425                  0                        0.0                       0.0
1440                  0                        0.0                       0.0
2021                  0                        0.0                       0.0
2094                  0                        0.0                       0.0
2216                  0                        0.0                       0.0
2404                  0                        0.0                       0.0
2501                  0                        0.0                       0.0
2947                  0                        0.0                       0.0
3159                  0                        0.0                       0.0
3565                  0                        0.0                       0.0
3663                  0                        NaN                       NaN
3917                  0                        0.0                       0.0
3923                  0                        0.0                       0.0
4269                  0                        0.0                       0.0
4372                  0                        0.0                       0.0
4437                  0                        0.0                       0.0
4448                  0                        0.0                       0.0
5126                  0                        NaN                       NaN
6176                  0                        0.0                       0.0
6337                  0                        0.0                       0.0
6357                  0                        0.0                       0.0
6433                  0                        NaN                       NaN
6447                  0                        0.0                       0.0
6656                  0                        0.0                       0.0
7146                  0                        0.0                       0.0
7445                  0                        0.0                       0.0
...                 ...                        ...                       ...
301867                0                        0.0                       0.0
302074                0                        0.0                       0.0
302380                0                        0.0                       0.0
302525                0                        0.0                       0.0
302588                0                        0.0                       0.0
303208                0                        0.0                       0.0
303332                0                        0.0                       0.0
303397                0                        0.0                       0.0
303441                0                        0.0                       0.0
303504                0                        0.0                       0.0
303575                0                        0.0                       0.0
303813                0                        NaN                       NaN
303836                0                        0.0                       0.0
303988                0                        0.0                       0.0
304357                0                        NaN                       NaN
304379                0                        0.0                       0.0
304467                0                        0.0                       0.0
304835                0                        0.0                       0.0
305213                0                        0.0                       0.0
305453                0                        0.0                       0.0
305592                0                        0.0                       0.0
305667                0                        0.0                       0.0
305892                0                        NaN                       NaN
306328                0                        0.0                       0.0
306517                0                        0.0                       0.0
306639                0                        0.0                       0.0
306917                0                        0.0                       0.0
306934                0                        0.0                       0.0
307141                0                        0.0                       0.0
307242                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
349                            NaN                        NaN
435                            0.0                        0.0
453                            0.0                        0.0
814                            0.0                        0.0
1425                           0.0                        4.0
1440                           0.0                        0.0
2021                           0.0                        0.0
2094                           0.0                        0.0
2216                           0.0                        1.0
2404                           0.0                        0.0
2501                           0.0                        0.0
2947                           0.0                        0.0
3159                           0.0                        0.0
3565                           0.0                        0.0
3663                           NaN                        NaN
3917                           0.0                        1.0
3923                           0.0                        0.0
4269                           0.0                        0.0
4372                           0.0                        0.0
4437                           0.0                        0.0
4448                           0.0                        1.0
5126                           NaN                        NaN
6176                           0.0                        1.0
6337                           0.0                        0.0
6357                           0.0                        0.0
6433                           NaN                        NaN
6447                           0.0                        0.0
6656                           0.0                        0.0
7146                           1.0                        0.0

In [23]:
# 使用不同的 HOUSETYPE_MODE 類別繪製圖形, 並使用 subplot 排版
"""
Your Code Here
"""
unique_house_type = app_train['HOUSETYPE_MODE'].dropna().unique()

nrows = len(unique_house_type)
ncols = nrows // 2

plt.figure(figsize=(10,30))
for i in range(len(unique_house_type)):
    #plt.subplot(nrows, ncols, i+1)
    """
    Your Code Here
    """
    print(app_train.loc[(app_train['HOUSETYPE_MODE'] == unique_house_type[i]), 'TARGET'])
    #app_train.loc[(app_train['HOUSETYPE_MODE'] == unique_house_type[i]), app_train['TARGET']].hist()
    
    #plt.title(str(unique_house_type[i]))
#plt.show()

0         1
1         0
12        0
13        0
14        0
18        0
20        0
22        0
23        0
24        0
25        0
26        1
29        0
30        0
31        0
32        0
34        0
35        0
38        0
39        0
40        1
43        0
50        0
51        0
52        0
54        0
55        0
57        0
59        0
60        0
         ..
307459    0
307461    0
307462    0
307463    0
307464    0
307465    0
307466    0
307467    0
307468    0
307469    0
307474    0
307475    1
307476    0
307477    0
307478    0
307480    0
307482    0
307483    0
307486    0
307489    1
307495    0
307498    0
307500    0
307501    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 150503, dtype: int64
207       0
606       0
995       0
1155      0
1163      0
1270      0
1896      0
2045      0
2049      0
2058      0
2065      0
2621      1
2977      1
3233      0
3348      0
3662      0
3862      0
3976      0
4180      0
4225      1
4389      0
4974      0
5574      0
6034      0
6069      0
6526      0
7250      0
7313      0
7327      0
7346      0
         ..
301013    0
302381    0
302503    0
302696    0
303367    0
303467    0
303612    0
303637    0
303769    0
303929    1
303992    1
304072    0
304447    0
304594    0
304657    0
304672    0
304766    0
304886    0
305078    0
305147    0
305631    0
305705    0
305776    0
306411    0
306675    0
306788    1
307060    0
307166    0
307315    0
307457    0
Name: TARGET, Length: 1212, dtype: int64
349       0
435       0
453       0
814       0
1425      0
1440      0
2021      0
2094      0
2216      0
2404      1
2501      0
2947      1
3159      0
3565      0
3663      0
3917      0
3923      0
4269      0
4372      1
4437      0
4448      1
5126      0
6176      1
6337      0
6357      0
6433      1
6447      0
6656      0
7146      0
7445      0
         ..
301867    0
302074    0
302380    0
302525    0
302588    0
303208    0
303332    0
303397    0
303441    0
303504    0
303575    0
303813    1
303836    1
303988    0
304357    0
304379    0
304467    0
304835    1
305213    0
305453    0
305592    0
305667    0
305892    0
306328    0
306517    1
306639    0
306917    0
306934    0
307141    0
307242    0
Name: TARGET, Length: 1499, dtype: int64